<div class="flex justify-evenly items-center p-2 border-b-2 {% if todo.completed %}bg-green-400{% endif %}"
     id="todo-{{ todo.id }}">
    <div>
        <input type="checkbox"
               hx-patch="toggle/{{ todo.id }}"
               hx-target="#todo-{{ todo.id }}"
               hx-swap="outerHTML"
               {% if todo.completed %}checked{% endif %}>
        <a hx-get="/task/{{ todo.id }}" hx-target="#t1">{{ todo.id }}. {{ todo.name }}</a>
    </div>
    <span>{{ todo.priority }}</span>
    <button class="text-blue-500" hx-get="/all" hx-target="#t1">B</button>
    <button class="text-yellow-500"
            hx-get="/form/{{ todo.id }}"
            hx-target="#todo-{{ todo.id }}"
            hx-swap="outerHTML">E</button>
    <button class="text-red-500"
            hx-delete="/delete/{{ todo.id }}"
            hx-target="#t1">D</button>
</div>
